@CHARSET "UTF-8";

.widget form .quote-job-line-item label {
	width: 100%;
}

.widget form .quote-job-line-item label.ui-button {
	width: auto;
}

.grid.long-label div.input label {
	width: 40%;
}

form.standard div.checkbox label {
	display: inline;
    float: none;
    width: auto;
    margin-left: 5px;
}
form.standard div.checkbox input {
	float:none;
	clear:left;
}